{
    # Elfogadja a Google Frontendtől érkező HTTPS/Host fejléceket
    servers {
        trusted_proxies static private_ranges
    }
}

:8080 {
    root * /usr/share/caddy

    # Megakadályozza, hogy a Caddy 301/302-es átirányítást küldjön, ha hiányzik a záró perjel
    file_server {
        canonical_uris false
    }

    # Ha a megadott útvonal egy mappa (pl. /blog), csendben a benne lévő index.html-re irányítja a kérést
    @dir {
        file {
            try_files {path}/index.html
        }
    }
    rewrite @dir {path}/index.html

    # Egyéb esetekben a normál fájlkiszolgálás
    try_files {path} {path}/ =404
}
